body{
background:#222;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:linear-gradient(135deg,#5b9df9,#00f2fe);
padding:30px;
border-radius:20px;
text-align:center;
color:white;
width:300px;
}

.search input{
padding:10px;
width:70%;
border:none;
border-radius:5px;
}

.search button{
padding:10px;
border:none;
background:white;
border-radius:5px;
cursor:pointer;
}

.weather-icon{
width:80px;
margin:10px;
}

.details{
display:flex;
justify-content:space-around;
margin-top:20px;
}