body{
font-family:Arial;
background:linear-gradient(135deg,#8676be,#6ec93a);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.calculator{
background:#222;
padding:20px;
border-radius:15px;
width:280px;
text-align:center;
box-shadow:0 10px 25px rgba(238, 231, 231, 0.3);
}

h2{
color:white;
}

#display{
width:100%;
padding:12px;
font-size:20px;
margin-bottom:15px;
border:none;
border-radius:8px;
text-align:right;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:8px;
}

button{
padding:15px;
font-size:16px;
border:none;
border-radius:8px;
cursor:pointer;
background:#eee;
}

button:hover{
background:#ddd;
}

.equal{
grid-column:span 2;
background:#ff9800;
color:white;
}

.equal:hover{
background:#e68900;
}